sudo: required

language: java

services:
  - docker

script:
  - export JENKINS_IMAGE_VERSION=`grep FROM Dockerfile | sed -e s/.*://`
  - env | grep -i jenkins
  - docker image build -t zometer/jenkins-docker:$JENKINS_IMAGE_VERSION

